.section-header {
  margin: 24px 24px 16px 24px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #748fdf;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal--container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #031956;
}

.todo-app-input {
  width: 85%;
  margin: 8px 24px;
  padding: 8px 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #031956;
  background: #c7d5e8;
  border: 1px solid #c7d5e8;
  border-radius: 20px;
  box-shadow: 0 10px 8px -4px rgb(0 0 0 / 0.2);
}
